body {
    margin: 0 auto;
    font-family: 'Monda', sans-serif;
    transition: background-color .1s;
    background: #ddd url(bg.png);
}
.header {
    text-align: center;
    margin-bottom: 30px;
    color: #888;
    line-height: 3em;
    background-color: rgba(255 ,255, 255, .8);
    margin-left: auto;
    margin-right: auto;
}
.title {
    color: #555;
    padding-right: 10px;
    font-weight: bold;
    cursor: pointer;
}
input[type=search] {
    border-radius: 2px;
    color: #555;
    padding-left: 8px;
    outline: none;
    height: 2.1em;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: inset 0px -1px 0px #eee;
}
input[type=checkbox] {
    vertical-align: middle;
    margin-left: 8px;
}
label {
    font-size: 80%;
}
.assets {
    max-width: 1120px;
    margin: 0 auto;
}
.asset {
    width: 128px;
    height: 148px;
    float: left;
    padding: 8px;
    margin: 8px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    overflow: overlay;
}
.asset::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.asset::-webkit-scrollbar-thumb {
    background-color: #999;
}
.asset img {
    max-width: 118px;
    max-height: 118px;
}
.asset img:hover {
    max-height: none;
    max-width: none;
}
.size, .name {
    font-size: 70%;
    margin-top: 6px;
    color: #999;
    background: whitesmoke;
    border-radius: 3px;
    padding: 0 3px;
    box-shadow: 0 1px 2px;
    white-space:nowrap
}
audio {
    width: 88px;
}
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button {
    display: none;
}
.darkroom {
    background: #333;
}
.darkroom .header {
    background-color: #222;
}
.darkroom .name,
.darkroom .size {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: none;
}
.darkroom input[type=search] {
    border: 1px solid #666;
    background-color: #333;
    box-shadow: inset 0px -1px 0px #999;
    color: #ccc;
}
.darkroom .asset {
    background: transparent;
    box-shadow: none;
}
